﻿<html>
<head></head>
<body>
    <div data-role="dialog">
        <div data-role="header" data-theme="d">
            <h1 style="width: 210px">Scarica componenti da magazzino</h1>
        </div>
        <div data-role="content" data-theme="c">
            <input type="hidden" name="Id" value="@(ViewBag.Id)"/>
            <ul data-role="listview" data-inset="true">
                <li data-role="fieldcontain">
                    <div class="ui-grid-a" style="text-align: center">
                        Conferma la rimozione delle quantita' dal magazzino
                    </div>
                    <div class="ui-grid-b">
                        <input id="btnRemoveQuantitiesConfirm" data-ajax="false" type="submit" value="Si" />
                    </div>
                    <div class="ui-grid-c">
                        <a data-role="button" data-rel="back" id="btnAbort" data-ajax="false" href="#">Annulla</a>
                    </div>
                </li>
            </ul>
        </div>
        <script type="text/javascript">
            $(function () {

                $('#btnRemoveQuantitiesConfirm').on('click', function () {
                    
                    var viewModel = ko.dataFor(document.getElementById('ctrlCheck'));

                    viewModel.removeQuantities();

                });                
            });
        </script>
    </div>
</body>
</html>
