﻿@model LMT.Web.Application.Models.CheckComponentsAvaiabilityModel

@{
    ViewBag.Title = "Verifica disponibilita' magazzino";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
    @Html.ActionLink("Esci", "LogOff", "Account", null, new { id = "btnExit", data_icon = "delete", data_ajax = "false", @class = "ui-btn-left" })
    @Html.ActionLink("Home", "Index", "Home", null, new { id = "btnHome", data_icon = "home", data_ajax = "false", @class = "dontprint ui-btn-left", style = "width:100px;margin-left:80px" })
    @Html.ActionLink("Componenti", "Index", "Components", null, new { id = "btnComponents", data_icon = "home", data_theme = "a", data_ajax = "false", @class = "ui-btn-left", style = "width:130px;margin-left:190px" })
    @Html.ActionLink("Assemblati", "Index", "ComponentGroups", null, new { id = "btnComponentGroup", data_icon = "home", data_theme = "a", data_ajax = "false", @class = "ui-btn-left", style = "width:130px;margin-left:330px" })
    <h1>Verifica disponibilita' magazzino</h1>
    <a id="btnPrint" href="#" data-role="button" data-theme="a" class="ui-btn-right" onclick="window.print()">Stampa</a>
}

@section scripts
{
    <script type="text/javascript" src="@(Url.Content("~/Scripts/viewModels/checkViewModel.js"))"></script>
    <script type="text/javascript">

        var lmt = lmt || {};

        $(document).on('pagecreate', function () {

            var componentsAddress = '@Url.Action("GetComponentGroups", "ComponentGroups", new { Area = "" })';
            var checkAvailabilityAddress = '@Url.Action("CalculateAvailability", "ComponentGroups", new { Area = "" })';
            var removeQuantitiesAddress = '@Url.Action("RemoveComponentQuantities", "ComponentGroups", new { Area = "" })';

            var viewModel = new lmt.CheckViewModel(
                {
                    componentsAddress: componentsAddress,
                    checkAvailabilityAddress: checkAvailabilityAddress,
                    removeQuantitiesAddress: removeQuantitiesAddress
                });

            viewModel.initialize();

            //this hack needs while showing dialog
            var vm = ko.dataFor(document.getElementById('ctrlCheck'));

            if (vm === undefined)
                ko.applyBindings(viewModel);
        });
    </script>
}
<style>
    .ui-field-contain .ui-select {
        width: 80%;
    }

    table.grid {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        width: 100%;
        border-spacing: 0;
    }

    tr:nth-child(odd) {
        background: #FFF;
    }

    td, th {
        border-top: 1px solid black;
        border-right: 1px solid black;
        padding-left: 10px;
    }
</style>
<style type="text/css" media="print">
    .dontprint, #btnExit, #btnHome, #btnComponents, #btnComponentGroup, #btnPrint, #btnRemoveQuantities {
        display: none;
    }
</style>
<ul data-role="listview" data-inset="true" id="ctrlCheck">
    <li data-role="fieldcontain">
        <div data-role="navbar" data-bind="foreach: {data: componentGroupElements, afterRender: onComplete}">
            <ul>
                <li>
                    <select data-role="none" data-bind="foreach: $root.componentGroups, value: selectedComponentGroupId">
                        <option data-bind="attr: { value: value }, text: text"></option>
                    </select>
                </li>
                <li class="ui-field-contain">
                    <input data-bind="value: quantity" type="text" placeholder="Quantita'" />
                </li>
            </ul>
        </div><!-- /navbar -->
        @*<div class="ui-grid-a" data-bind="foreach: componentGroupElements">
                <div class="ui-block-a" style="text-align: center">
                    <select data-role="none" data-bind="foreach: $root.componentGroups, value: selectedComponentGroupId">
                        <option data-bind="attr: { value: value }, text: text"></option>
                    </select>
                </div>
                <div class="ui-block-b" style="text-align: center">

                </div>
            </div>*@
    </li>
    <li data-role="fieldcontain">
        <div class="ui-grid-a">
            <a class="dontprint" data-role="button" href="#" data-bind="click: addComponentGroupElement">Aggiungi assemblato</a>
        </div>
        <div class="ui-grid-b">
            <a class="dontprint" data-role="button" href="#" data-bind="click: calculateAvailability">Calcola residuo magazzino</a>
        </div>
    </li>
</ul>

<div data-role="navbar">
    <ul>
        <li data-bind="visible: componentsRemainingAvailability().length > 0">
            <table class="grid" style="text-align: center">
                <thead>
                    <tr>
                        <th>Codice</th>
                        <th>Descrizione</th>
                        <th>Disponibilita' attuale</th>
                        <th>Disponibilita' necessaria <a id="btnRemoveQuantities" class="ui-btn ui-btn-inline ui-mini" data-rel="dialog" data-inline="true" href="@(Url.Action("RemoveComponentQuantities", "ComponentGroups"))">Scarica</a></th>
                        <th>Disponibilita' residua</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: componentsRemainingAvailability">
                    <tr class="gridrow">
                        <td data-bind="text: $root.componentsCurrentAvailability()[$index()].Sku"></td>
                        <td data-bind="text: $root.componentsCurrentAvailability()[$index()].Name"></td>
                        <td data-bind="text: $root.componentsCurrentAvailability()[$index()].StockQuantity"></td>
                        <td data-bind="text: $root.componentsNeedAvailability()[$index()].StockQuantity"></td>
                        <td data-bind="text: $root.componentsRemainingAvailability()[$index()].StockQuantity, style: { 'color': StockQuantity > 0 ? 'black' : 'red', 'font-weight': 'bold' }"></td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ul>
</div>
