﻿@model LMT.Web.Application.Models.ComponentGroupCreateModel

@{
    ViewBag.Title = "Nuovo assemblato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
    @Html.ActionLink("Esci", "LogOff", "Account", null, new { data_icon = "delete", @class = "ui-btn-left" })
    @Html.ActionLink("Home", "Index", "Home", null, new { data_icon = "home", @class = "ui-btn-left", style = "width:100px;margin-left:80px" })
    <h1>@ViewBag.Title</h1>
    @Html.ActionLink("Lista assemblati", "Index", "ComponentGroups", new { Area = "" }, new { data_icon = "home", @class = "ui-btn-right" })
}

@using (Html.BeginForm("Create", "ComponentGroups", FormMethod.Post, new { id = "frmCreateComponentGroup" }))
{
    @Html.ValidationSummary(true)

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Nuovo assemblato</li>
        <li data-role="fieldcontain">
            <div class="ui-grid-a">
                @Html.TextBoxFor(model => model.Name, new { placeholder = "Nome componente", style = "width: 95%" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </li>
        <li data-role="fieldcontain">
            <input type="submit" value="Salva" />
        </li>
    </ul>
}