﻿@using Microsoft.Web.Mvc.Html
@model LMT.Web.Application.Models.ComponentGroupEditModel

@{
    ViewBag.Title = "Modifica assemblato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
    @Html.ActionLink("Esci", "LogOff", "Account", null, new { data_icon = "delete", data_ajax = "false", @class = "ui-btn-left" })
    @Html.ActionLink("Home", "Index", "Home", null, new { data_icon = "home", data_ajax = "false", @class = "ui-btn-left", style = "width:100px;margin-left:80px" })
    @Html.ActionLink("Componenti", "Index", "Components", null, new { data_icon = "home", data_theme = "a", data_ajax = "false", @class = "ui-btn-left", style = "width:130px;margin-left:190px" })
    @Html.ActionLink("Assemblati", "Index", "ComponentGroups", null, new { data_icon = "home", data_theme = "b", data_ajax = "false", @class = "ui-btn-left", style = "width:130px;margin-left:330px" })
    <h1>Modifica assemblato</h1>
}

@section scripts
{
    <script type="text/javascript">
        $(function () {
            var lastItemAddedIndex = @(Model.ComponentGroupComponentModels.Count() - 1);

            $(document).on('click', '#btnAddItem', function () {
                lastItemAddedIndex += 1;
                var ctrlRow = $('li[data-itemrow=' + lastItemAddedIndex + ']');
                $(ctrlRow).show();

                $("input", ctrlRow).trigger("focus");
            });

            $('#btnDeleteComponentGroup').on('click', function () {

                $('input[type="hidden"][name="Deleted"]').val("True");

                $('#frmEditComponentGroup').submit();

                return false;
            });
        });
    </script>
}
@using (Html.BeginForm("Edit", "ComponentGroups", FormMethod.Post, new { id = "frmEditComponentGroup", data_ajax = "false" }))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Deleted)



    <h3>Modifica assemblato</h3>
    <div data-role="navbar">
        <ul>
            <li>

                @Html.TextBoxFor(model => model.Name, new { placeholder = "Nome componente", style = "width: 95%" })
                @Html.ValidationMessageFor(model => model.Name)

            </li>
        </ul>
    </div>
    for (int i = 0; i < Model.ComponentGroupComponentModels.Count(); i++)
    {
        <div data-role="navbar">
            <ul>
                <li>
                    @Html.DropDownListFor(m => m.ComponentGroupComponentModels[i].ComponentId, Model.GetComponents(Model.ComponentGroupComponentModels[i].ComponentId))
                </li>
                <li>
                    @Html.TextBoxFor(m => m.ComponentGroupComponentModels[i].Quantity, new { placeholder = "Quantita'", style = "text-align: center;width: 35%", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.ComponentGroupComponentModels[i].Quantity)
                </li>
            </ul>
        </div>
    }
    for (int i = Model.ComponentGroupComponentModels.Count(); i < 50; i++)
    {
        <div data-role="navbar">
            <ul>
                <li data-itemrow="@(i)" style="display: none">
                    @Html.DropDownList(string.Format("ComponentGroupComponentModels[{0}].ComponentId", i), Model.Components)
                </li>
                <li data-itemrow="@(i)" style="display: none">
                    <input style="text-align: center;width:35%" data-val="true" data-val-number="The field Quantity must be a number." placeholder="Quantita'" autocomplete="off"
                           data-val-regex="Formato non valido" data-val-regex-pattern="^-?(([1-9]\d*)|0)(.0*[1-9](0*[1-9])*)?$"
                           data-val-required="The Quantity field is required."
                           id="ComponentGroupComponentModels_@(i)__Quantity" name="ComponentGroupComponentModels[@(i)].Quantity"
                           type="text" value="" class="ui-input-text ui-body-b ui-corner-all ui-shadow-inset">
                    <div style="clear: both"></div>
                    <span class="field-validation-valid" data-valmsg-for="@(string.Format("ComponentGroupComponentModels[{0}].Quantity", i))" data-valmsg-replace="true"></span>
                </li>
            </ul>
        </div>
    }

    <div data-role="navbar">
        <ul>
            <li>
                <input type="button" value="Aggiungi componente" data-mini="true" data-theme="b" id="btnAddItem" />
                <div class="ui-helper-clearfix" style="height: 10px"></div>
                <a href="@(Url.Action("DeleteConfirm", "ComponentGroups", new { id = Model.Id }))" data-role="button" data-rel="dialog" data-ajax="true">Elimina</a>
                <div class="ui-helper-clearfix" style="height: 10px"></div>
                <input type="submit" value="Salva" data-ajax="false" />
            </li>
        </ul>
    </div>
}