﻿@model MvcContrib.Pagination.IPagination<LMT.Web.Application.Models.ComponentGroupReadModel>

@using MvcContrib.Pagination
@using MvcContrib.UI.Grid
@using MvcContrib.UI.Pager
@{
    ViewBag.Title = "Assemblati";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tr.gridrow {
    }

    table.grid {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        width: 100%;
        border-spacing: 0;
    }

    td, th {
        border-top: 1px solid black;
        border-right: 1px solid black;
        padding-left: 10px;
    }

    tr:nth-child(odd) {
        background: #FFF;
    }

    tr:nth-child(even) {
        background: #AAA;
    }

    div.pager {
        text-align: center;
        margin: 5px;
    }
</style>
@section Header
{
    <div data-role="navbar">
    <ul>
        <li>
            <div data-role="navbar">
                <ul>
                    <li>
                        @Html.ActionLink("Esci", "LogOff", "Account", null, new { data_ajax = "false", data_mini = "true", @class = "ui-btn ui-icon-delete ui-btn-icon-left ui-btn-inline" })
                    </li>
                    <li>
                        @Html.ActionLink("Home", "Index", "Home", null, new { data_ajax = "false", @class = "ui-btn ui-icon-home ui-btn-icon-left ui-btn-inline" })
                    </li>
                    <li>
                        @Html.ActionLink("Componenti", "Index", "Components", null, new { data_theme = "a", data_ajax = "false", @class = "ui-btn ui-icon-grid ui-btn-icon-left ui-btn-inline" })
                    </li>
                    <li>
                        @Html.ActionLink("Assemblati", "Index", "ComponentGroups", null, new { data_theme = "a", data_ajax = "false", @class = "ui-btn ui-icon-grid ui-btn-icon-left ui-btn-inline" })
                    </li>
                </ul>
            </div>
        </li>
        <li style="text-align: center">
            <h3>Assemblati</h3>
        </li>
        <li>
            <ul>
                <li>
                    @Html.ActionLink("Nuovo assemblato", "Create", "ComponentGroups", new { Area = "" }, new { @class = "ui-btn ui-btn-right ui-icon-plus ui-btn-icon-left", data_ajax = "false" })
                </li>    
                <li>
                    @Html.ActionLink("Verifica disponibilita'", "CheckAvailability", "ComponentGroups", new { Area = "" }, new { data_ajax = "false", data_role = "button", @class = "ui-btn ui-btn-right ui-icon-plus ui-btn-icon-left"})                
                </li>
            </ul>
            
        </li>
    </ul>
</div>
                           
}
@section scripts
{
    <script type="text/javascript">
        $(document).bind('pageinit', function () {

            var links = $('a').filter(function () { return $(this).text() === "avanti" || $(this).text() === "ultimo" || $(this).text() === "primo" || $(this).text() === "indietro"; });

            links.removeClass("ui-btn");
        });
    </script>
}

<div data-role="navbar">
    <ul>
        <li data-role="list-divider">
            <div>
                <span>Assemblati</span>
            </div>
        </li>
    </ul>
    <ul>
        <li data-role="fieldcontain">
            @Html.Pager(Model).First("primo").Last("ultimo").Next("avanti").Previous("indietro").Format("Visualizzati da {0} a {1} | Totale: {2} risultati | ").SingleFormat("")
            <div style="height: 10px">
            </div>
            <div>
                @Html.Grid(Model).Columns(column =>
                {
                    column.For(p => p.Name).Named("Nome").Attributes(style => "width:30%");

                    column.Custom(@<p>@(item.GetComponents())</p>).Named("Numero componenti").Attributes(style => "width:50%");


                    column.Custom(@<a href="@(Url.Action("Edit", "ComponentGroups", new { id = item.Id }))" data-role="button" data-ajax="false">Modifica</a>).Attributes(style => "width:10%;text-align:center;padding-left:5px;padding-right:5px");

                }).Empty("Non sono presenti assemblati")
            </div>
            <div style="height: 10px">
            </div>
            @Html.Pager(Model).First("primo").Last("ultimo").Next("avanti").Previous("indietro").Format("Pagina {0} di {1} | Totale: {2} risultati | ").SingleFormat("")
        </li>
    </ul>
</div>