﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ui-grid-solo">
    <div class="ui-block-a">
        @Html.ActionLink("Listino", "Products", "Home", null, new {data_role="button"})                
        @Html.ActionLink("Riparazioni", "Index", "Maintenance", null, new { data_role = "button" })        
        @Html.ActionLink("Magazzino assemblaggi", "Index", "Components", null, new { data_role = "button" })        
    </div>
</div>
