﻿@using MvcContrib.Pagination
@using MvcContrib.UI.Grid
@using MvcContrib.UI.Pager
@model IEnumerable<LMT.Data.EF.Product>
@{
    ViewBag.Title = "Lmt Pagani";
}
<style>
    tr.gridrow {
        
    }
    table.grid {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        width: 100%;
        border-spacing: 0;
    }
    td, th {
        border-top: 1px solid black;
        border-right: 1px solid black;
    }
    div.pager {
        text-align: center;
        margin: 5px;
    }
</style>
@section Header
{
    @Html.ActionLink("Esci", "LogOff", "Account", null, new { data_icon = "delete", @class="ui-btn-left" })
    @Html.ActionLink("Home", "Index", "Home", null, new { data_icon = "home", @class="ui-btn-left", style="width:100px;margin-left:80px" })       
    <h1>LMT Pagani</h1>
    <span class="ui-btn-right">Aggiornato al: @ViewBag.VersionDate</span>
}
@using (Html.BeginForm())
{
    <div class="ui-grid-a">
        <div class="ui-block-a">
            <input type="search" name="name" id="name" placeholder="Cerca per nome articolo" value="@ViewBag.Name"/></div>
        <div class="ui-block-b">
            <input type="search" name="code" id="code" placeholder="Cerca per codice" value="@ViewBag.Code"/>
        </div>
    </div>
    <div class="ui-grid-solo">
        <div class="ui-block-a">
            <input type="submit" value="Cerca" />
        </div>
    </div>

}
<div class="pager">
    @Html.Pager((IPagination)Model).First("Primo").Last("Ultimo").Next("Prossimo").Previous("Precedente").Format("Pagina " + ViewBag.Page + " | Articoli {0} - {1} di {2} | ")
</div>
@Html.Grid(Model).Columns(column =>
{
    column.For(p => p.Name).Named("Articolo");

    column.For(p => p.Code).Named("Codice");

    if (ViewBag.IsAdmin)
    {
        column.For(p => p.Description).Named("Descrizione");
    }

    column.For(p => (int)p.Quantity).Named("Quantità").Attributes(style => "text-align:center;");

    if (ViewBag.IsAdmin)
    {
        column.For(p => string.Format("€{0}", p.Price)).Named("Prezzo di costo").Attributes(style => "text-align:right;");
    }

    column.For(p => string.Format("€{0}", p.ListPrice)).Named("Prezzo di listino").Attributes(style => "text-align:right;");
    column.For(p => string.Format("€{0}", p.Discount)).Named("Prezzo di vendita").Attributes(style => "text-align:right;");
    column.For(p => p.Category.Name).Named("Marchio").Attributes(style => "text-align:center;"); ;
})
<div class="pager">
    @Html.Pager((IPagination)Model).First("Primo").Last("Ultimo").Next("Prossimo").Previous("Precedente").Format("Pagina " + ViewBag.Page + " | Articoli {0} - {1} di {2} | ")
</div>
