﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/js")     

    <script type="text/javascript">
        $(document).bind("mobileinit", function () {
            $.mobile.ajaxEnabled = @(ViewBag.AjaxEnabled == true ? "true" : "false");
        });
    </script>
</head>
<body>
    <div data-role="page" data-theme="a">
        <div data-role="header">
            @if (IsSectionDefined("Header"))
            {
                @RenderSection("Header")
            }
            else
            {
                <h1>@ViewBag.Title</h1>
            }
        </div>
        <div data-role="content" class="ui-content">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/Scripts/jqMobile")
    @RenderSection("scripts", required: false)
</body>
</html>
