﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<span>
    Controller : @Model.ControllerName
    <br />
    Action : @Model.ActionName
    <br />
    Error : @Model.Exception.Message
    <br />
    Stack : @Model.Exception.StackTrace
</span>
