﻿@model LMT.Web.Application.Models.MaintenanceEditModel
@{
    ViewBag.Title = "Riparazioni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header
{
    @Html.ActionLink("Esci", "LogOff", "Account", null, new { data_icon = "delete", @class = "ui-btn-left" })
    @Html.ActionLink("Home", "Index", "Home", null, new { data_icon = "home", @class = "ui-btn-left", style = "width:100px;margin-left:80px" })
    <h1>@ViewBag.Title</h1>
    @Html.ActionLink("Lista riparazioni", "Index", "Maintenance", new { Area = "" }, new { data_icon = "bars", @class = "ui-btn-right" })
}
@section scripts
{ 
    <script type="text/javascript">
        $(document).bind('pagechange', function () {
            var ctrlItemPrice = $('div[class="ui-bar ui-bar-c"]', 'div[class="ui-block-b"]');
            var ctrlGridContainer = $('div[class="ui-bar ui-bar-c"]', 'div[class="ui-block-b"]').parent().parent();
            ctrlItemPrice.height(ctrlGridContainer.height() - 15);

            $('input', ctrlItemPrice).blur(function() {
                
                var price = $(this).val();
                price = price === "" ? 0 : price;

                $(this).val(parseFloat(price).toFixed(2));
            });

            $('input', $('div[class="ui-bar ui-bar-b"]', 'div[class="ui-block-c"]')).blur(function () {
                
                var price = $(this).val();
                price = price === "" ? 0 : price;

                $(this).val(parseFloat(price).toFixed(2));
            });

            $(document).on('keyup', ctrlItemPrice, function () {
                updateTotal();
            });

            var updateTotal = function () {
                var lblTotal = $('#lblTotal');

                var sum = 0;
                $(ctrlItemPrice).each(function () {
                    sum += Number($('input', this).val());
                }).promise().done(function () {

                    var ctrlHandWorkPrice = $('div[class="ui-bar ui-bar-a"]', 'div[class="ui-block-c"]');

                    sum += Number($('input', ctrlHandWorkPrice).val());

                    lblTotal.text("€ " + parseFloat(sum).toFixed(2));                                       
                });
            };

            var lastItemAddedId = @(Model.MaintenanceItemModels.Count() - 1);

            $(document).on('click', '#btnAddItem', function () {
                lastItemAddedId += 1;
                var ctrlRow = $('div[data-itemrow=' + lastItemAddedId + ']');
                $(ctrlRow).show();
                $('textarea', ctrlRow).focus();
            });

            $('input[type="radio"][value=@(Model.SelectedMaintenanceState)]').attr("checked", true).checkboxradio("refresh");
            updateTotal();
            
            $('#Customer').focus();
            
            window.onbeforeunload = function () {
                return "Si sta tentando di uscire da questa pagina. Se sono state apportate modifiche ai campi senza fare clic sul pulsante Salva, le modifiche andranno perse. Sei sicuro di voler uscire da questa pagina?";
            };
            
            (function($) {
                
                    $('#frmEditMaintenance').submit(function (sender, isValidSubmit) {

                        if (!$('#frmEditMaintenance').valid())
                            return false;

                        if (isValidSubmit)
                            return true;

                        window.onbeforeunload = function () { };

                        $('<div>').simpledialog2({
                            mode: 'button',
                            headerText: 'Aggiornare riparazione?',
                            headerClose: true,
                            buttonPrompt: 'Scegliendo "Si" verrà aggiornata la riparazione',
                            buttons: {
                                'Si': {
                                    click: function () {
                                        $('#frmEditMaintenance').trigger('submit', [{ isValidSubmit: true}]);
                                    }
                                },
                                'No': {
                                    click: function () {

                                    },
                                    icon: "delete",
                                    theme: "c"
                                }
                            }
                        });                

                        return false;
                    });
                
            })(jQuery);            
            
            $(document).on('click', '#btnExport', function() {
               
               window.onbeforeunload = function () { };

                var form = $('#frmExportDetail');                
                form.submit();

                return false;
            });
        });
    </script>
}
@using (Html.BeginForm("DetailExport", "Maintenance", FormMethod.Get, new { id = "frmExportDetail" }))
{
    @Html.Hidden("MaintenanceId", Model.Id)
}
@using (Html.BeginForm("Edit", "Maintenance", FormMethod.Post, new { id = "frmEditMaintenance" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ReturningUrl)
    
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">
            <div>
                <span>Modifica riparazione</span><a href="#" id="btnExport" style="float: right;">Esporta</a>
            </div>
        </li>
        <li data-role="fieldcontain">
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <input value="@(Model.CreationDate)" name="CreationDate" placeholder="Data" style="width:95%" data-role="datebox" data-options='{"mode": "calbox", "useNewStyle": true, "useFocus": true}'/>                                       
                </div>
                <div class="ui-block-b">
                    @Html.TextBoxFor(m => m.Customer, new { placeholder = "Azienda", style = "width:95%;" })
                    @Html.ValidationMessageFor(m => m.Customer)
                </div>
            </div>
        </li>
        <li data-role="fieldcontain">
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    @Html.TextBoxFor(m => m.BrandName, new { placeholder = "Marca", style = "width:95%;" })
                    @Html.ValidationMessageFor(m => m.BrandName)
                </div>
                <div class="ui-block-b">
                    @Html.TextBoxFor(m => m.Model, new { placeholder = "Modello", style = "width:95%;" })
                </div>
            </div>
        </li>
        <li data-role="fieldcontain">
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    @Html.TextBoxFor(m => m.Sku, new { placeholder = "Matricola", style = "width:95%;" })
                </div>
                <div class="ui-block-b">
                    <fieldset data-role="controlgroup" data-mini="true" data-type="horizontal" data-theme="a">
                        @for (var i = 0; i < Model.MaintenanceStates.Count(); i++)
                        {
                            <input type="radio" name="SelectedMaintenanceState" id='MaintenanceStates[@(i)].Value' value="@(Model.MaintenanceStates[i].Value)" data-theme="c" />
                            <label for='MaintenanceStates[@(i)].Value'>
                                @(Model.MaintenanceStates[i].Text)</label>
                        }
                        <div style="clear: both">
                        </div>
                        @Html.ValidationMessageFor(m => m.SelectedMaintenanceState, "", new { style = "text-align: left" })
                    </fieldset>
                </div>
            </div>
        </li>
        <li data-role="fieldcontain">
            <div class="ui-grid-a" style="height: 30px" data-theme="a">
                <div class="ui-block-a" style="width: 70%">
                    <div class="ui-bar ui-bar-a">
                        <strong>Descrizione</strong></div>
                </div>
                <div class="ui-block-b" style="width: 30%">
                    <div class="ui-bar ui-bar-a">
                        <strong>Prezzo</strong></div>
                </div>
            </div>
            @for (int i = 0; i < Model.MaintenanceItemModels.Count(); i++)
            {
                <div class="ui-grid-a" data-theme="a">
                    <div class="ui-block-a" style="width: 70%">
                        <div class="ui-bar ui-bar-c">
                            @Html.TextAreaFor(m => m.MaintenanceItemModels[i].MaintenanceDescription, new { placeholder = "Descrizione", style = "width:98%" })
                            @Html.ValidationMessageFor(m => m.MaintenanceItemModels[i].MaintenanceDescription)
                        </div>
                    </div>
                    <div class="ui-block-b" style="width: 30%">
                        <div class="ui-bar ui-bar-c">
                            @Html.TextBoxFor(m => m.MaintenanceItemModels[i].MaintenancePrice, new { placeholder = "Prezzo (es. 10.5)", style = "width:98%;text-align:right", autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.MaintenanceItemModels[i].MaintenancePrice)
                        </div>
                    </div>
                </div>
            }
            @for (int i = Model.MaintenanceItemModels.Count(); i < 15; i++)
            {
                <div class="ui-grid-a" data-theme="a" style="display: none" data-itemrow="@(i)">
                    <div class="ui-block-a" style="width: 70%">
                        <div class="ui-bar ui-bar-c">
                            <textarea cols="20" id="MaintenanceItemModels_@(i)__MaintenanceDescription" name="MaintenanceItemModels[@(i)].MaintenanceDescription" placeholder="Descrizione" rows="2" style="width:98%" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset"></textarea>
                            <span class="field-validation-valid" data-valmsg-for="MaintenanceItemModels[@(i)].MaintenanceDescription" data-valmsg-replace="true">
                            </span>
                        </div>
                    </div>
                    <div class="ui-block-b" style="width: 30%">
                        <div class="ui-bar ui-bar-c" style="height: 69px;">
                            <input autocomplete="off" data-val="true" data-val-regex="Formato non valido" data-val-regex-pattern="^(((([0-9]{1,4},)([0-9]{3},)*[0-9]{3})|[0-9]{1,4})(\.[0-9]+)?)$" id="MaintenanceItemModels_@(i)__MaintenancePrice" name="MaintenanceItemModels[@(i)].MaintenancePrice" placeholder="Prezzo (es. 10.5)" style="width:98%;text-align:right" type="text" value="" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset valid">
                            <span class="field-validation-valid" data-valmsg-for="MaintenanceItemModels[@(i)].MaintenancePrice"
                                data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            }
            <input type="button" value="Aggiungi voce" data-mini="true" data-theme="a" id="btnAddItem" />
            <div style="clear: both; height: 10px">
            </div>
            <div class="ui-grid-b" data-theme="a" style="height: 75px">
                <div class="ui-block-a" style="width: 40%">
                    <div class="ui-bar ui-bar-a" style="height: 75px">
                        @Html.Label("Mano d'opera", new { style = "width:98%" })
                    </div>
                </div>
                <div class="ui-block-b" style="width: 30%">
                    <div class="ui-bar ui-bar-a" style="height: 75px">
                        @Html.TextBoxFor(m => m.HandWorkHours, new { placeholder = "Ore (es. 4 + 1/2)", style = "width:98%;text-align:right", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.HandWorkHours)
                    </div>
                </div>
                <div class="ui-block-c" style="width: 30%">
                    <div class="ui-bar ui-bar-a" style="height: 65px">
                        @Html.TextBoxFor(m => m.HandWorkPrice, new { placeholder = "Prezzo (es. 10.5)", style = "width:98%;text-align:right", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.HandWorkPrice)
                    </div>
                </div>
            </div>
            <div class="ui-grid-a" style="height: 30px" data-theme="a">
                <div class="ui-block-a" style="width: 70%">
                    <div class="ui-bar ui-bar-a" style="text-align: right">
                        <strong>Totale + IVA</strong></div>
                </div>
                <div class="ui-block-b" style="width: 30%">
                    <div class="ui-bar ui-bar-a" style="text-align: right">
                        <strong><span id="lblTotal">€ 0</span></strong></div>
                </div>
            </div>
            @if (Model.WarrantyStartDate.HasValue)
            {
                <text>
                <div class="ui-grid-a" style="height: 30px" data-theme="a">
                    <div class="ui-block-a" style="width: 70%">
                        <div class="ui-bar ui-bar-b" style="text-align: right">
                            <strong>Data ritiro</strong></div>
                    </div>
                    <div class="ui-block-b" style="width: 30%">
                        <div class="ui-bar ui-bar-b" style="text-align: left">
                            <strong><span id="lblTotal">@Model.WarrantyStartDate.Value.ToString("dd-MM-yyyy")</span></strong></div>
                    </div>
                </div>
                </text>
            }
        </li>
        <li data-role="fieldcontain">
            <input type="submit" value="Salva" />
        </li>
    </ul>
}
