﻿@using MvcContrib.Pagination
@using MvcContrib.UI.Grid
@using MvcContrib.UI.Pager
@model LMT.Web.Application.Models.MaintenanceSearchModel
@{
    ViewBag.Title = "Riparazioni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tr.gridrow {
    }

    table.grid {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        width: 100%;
        border-spacing: 0;
    }

    td, th {
        border-top: 1px solid black;
        border-right: 1px solid black;
        padding-left: 10px;
    }

    tr:nth-child(odd) {
        background: #FFF;
    }

    tr:nth-child(even) {
        background: #AAA;
    }

    div.pager {
        text-align: center;
        margin: 5px;
    }
</style>
@section Header
{
    @Html.ActionLink("Esci", "LogOff", "Account", null, new { data_icon = "delete", @class = "ui-btn-left" })
    @Html.ActionLink("Home", "Index", "Home", null, new { data_icon = "home", @class = "ui-btn-left", style = "width:100px;margin-left:80px" })
    <h1>@ViewBag.Title</h1>
    @Html.ActionLink("Nuova riparazione", "Create", "Maintenance", new { Area = "" }, new { @class = "ui-btn-right ui-icon-plus", data_icon = "plus" })
}
@section scripts
{
    <script type="text/javascript">
        $(document).bind('pageinit', function () {

            var links = $('a').filter(function () { return $(this).text() === "avanti" || $(this).text() === "ultimo" || $(this).text() === "primo" || $(this).text() === "indietro"; });

            links.removeClass("ui-btn");

            @if (!string.IsNullOrWhiteSpace(Model.SelectedMaintenanceState))
            {
                <text>
            $('input[type="radio"][value=@(Model.SelectedMaintenanceState)]').attr("checked", true).checkboxradio("refresh");
            </text>
            }

            $(document).on('click', '#btnSearchExport', function () {
                var exportUrl = '@(Url.Action("SearchExport", "Maintenance", new { Area = "" }))';

                var form = $('#frmSearch');
                form.attr('action', exportUrl);
                form.submit();

                return false;
            });

            $(document).on('click', '#btnSearch', function () {
                var searchUrl = '@(Url.Action("Index", "Maintenance", new { Area = "" }))';

                var form = $('#frmSearch');
                form.attr('action', searchUrl);
                form.submit();

                return false;
            });
        });
    </script>
}
@using (Html.BeginForm("Index", "Maintenance", FormMethod.Get, new { id = "frmSearch" }))
{    
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">
            <div>
                <span>Ricerca</span>
                @Html.ActionLink("Reset", "Index", "Maintenance", new {}, new { Area = "", style = "float:right;", data_theme="b" })
            </div>
        </li>
        <li data-role="fieldcontain">
            <div class="ui-grid-a" style="height: 140px">
                <div class="ui-block-a" style="width: 25%">
                    @Html.TextBoxFor(m => m.StartDate, new { placeholder = "Data inizio", style = "width:90%;", data_role = "datebox", data_options = "{\"mode\": \"calbox\", \"useNewStyle\": true, \"useFocus\": true}" })
                </div>
                <div class="ui-block-b" style="width: 25%">
                    @Html.TextBoxFor(m => m.EndDate, new { placeholder = "Data fine", style = "width:90%;", data_role = "datebox", data_options = "{\"mode\": \"calbox\", \"useNewStyle\": true, \"useFocus\": true}" })
                </div>
                <div class="ui-block-c" style="width: 50%">
                    <div class="ui-bar ui-bar-a">
                        <fieldset data-role="controlgroup" data-mini="true" data-type="horizontal">
                            @for (var i = 0; i < Model.MaintenanceStates.Count(); i++)
                            {
                                <input type="radio" name="SelectedMaintenanceState" id='MaintenanceStates[@(i)].Value' value="@(Model.MaintenanceStates[i].Value)" />
                                <label for='MaintenanceStates[@(i)].Value'>
                                    @(Model.MaintenanceStates[i].Text)
                                </label>
                            }
                        </fieldset>                        
                    </div>
                </div>
            </div>
        </li>
        <li data-role="fieldcontain">
            <div class="ui-block-a" style="width: 20%">
                @Html.TextBoxFor(m => m.CustomerName, new { placeholder = "Cliente", style = "width:90%;" })
            </div>
            <div class="ui-block-b" style="width: 20%">
                @Html.TextBoxFor(m => m.Brand, new { placeholder = "Marca", style = "width:90%;" })
            </div>
            <div class="ui-block-c" style="width: 20%">
                @Html.TextBoxFor(m => m.Model, new { placeholder = "Modello", style = "width:90%;" })
            </div>
            <div class="ui-block-d" style="width: 20%">
                @Html.TextBoxFor(m => m.Sku, new { placeholder = "Matricola", style = "width:90%;" })
            </div>
            <div class="ui-block-e" style="width: 20%;padding-top: 3px">
                <input type="checkbox" name="ExcludeClosedStates" id="ExcludeClosedStates" data-mini="true" data-theme="c" @(Model.ExcludeClosedStates == "on" ? "checked='checked'" : "") />
                <label for="ExcludeClosedStates">Escludi chiusi</label>
            </div>
        </li>
        <li data-role="fieldcontain">
            <input id="btnSearch" type="submit" value="Cerca" data-theme="b" />
        </li>
    </ul>
}

<div data-role="navbar">
    <ul data-inset="true" data-theme="a">
        <li data-role="list-divider">
            <div>
                <span>Riparazioni</span><a href="#" style="float: right; width: 50px;" data-theme="b" id="btnSearchExport">Esporta</a>
            </div>
        </li>        
    </ul>
    <ul>
        <li data-role="fieldcontain">
            @Html.Pager((IPagination)Model.SearchResultModels).First("primo").Last("ultimo").Next("avanti").Previous("indietro").Format("Visualizzati da {0} a {1} | Totale: {2} risultati | ").SingleFormat("")
            <div style="height: 10px">
            </div>
            @Html.Grid(Model.SearchResultModels).Columns(column =>
        {
            column.For(p => p.UpdatedOn).Named("Ultimo aggiornamento").Attributes(style => "width:130px");
            column.For(p => p.CreationDate).Named("Data creazione").Attributes(style => "width:130px");
            column.For(p => p.CustomerName).Named("Cliente").Attributes(style => "width:180px");
            column.For(p => p.BrandName).Named("Marca").Attributes(style => "width:180px");
            column.For(p => p.ModelNumber).Named("Modello").Attributes(style => "width:180px");
            column.For(p => p.Sku).Named("Matricola").Attributes(style => "width:160px");
            column.For(p => p.State).Named("Stato").Attributes(style => "width:150px");

            column.For(m => Html.ActionLink("Modifica", "Edit", "Maintenance", new { id = m.Id }, new { data_role = "button", data_mini = "true" })).Attributes(style => "width:90px;padding-left:5px;padding-right:5px");

        }).Empty("Non sono presenti riparazioni")
            <div style="height: 10px">
            </div>
            @Html.Pager((IPagination)Model.SearchResultModels).First("primo").Last("ultimo").Next("avanti").Previous("indietro").Format("Pagina {0} di {1} | Totale: {2} risultati | ").SingleFormat("")
        </li>
    </ul>

</div>