﻿@model LMT.Web.Application.Models.ComponentAddRemoveQuantityModel

<html>
<head></head>
<body>
    <div data-role="dialog">
        <div data-role="header" data-theme="d">
            <h1 style="width: 210px">Aggiungi/Rimuovi quantita'</h1>
        </div>
        <div data-role="content" data-theme="a">
            @using (Html.BeginForm("AddRemoveQuantity", "Components", FormMethod.Post, new { id = "frmAddRemoveQuantity", data_ajax="false" }))
            {
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.Id)
                
                <ul data-role="listview" data-inset="true">
                    <li data-role="fieldcontain">
                        <div class="ui-grid-a">
                            <div class="ui-block-a" style="text-align: center">
                                @Html.Label(Model.Name)
                            </div>
                            <div class="ui-block-b" style="text-align: center">
                                @Html.Label(Model.Sku)
                            </div>
                        </div>
                        <div class="ui-grid-b" style="margin-top: 10px">
                            @Html.TextBoxFor(model => model.Quantity, new { placeholder = "Quantita'", style = "width: 95%;text-align: center", id="txtQuantity", autocomplete="off" })
                            @Html.ValidationMessageFor(model => model.Quantity)
                        </div>
                        <div class="ui-grid-c" style="margin-top: 10px">
                            @Html.TextAreaFor(model => model.Note, new { placeholder = "Note", style = "resize: none;width: 95%;text-align: center", id="txtQuantity", autocomplete="off" })
                            @Html.ValidationMessageFor(model => model.Note)
                        </div>
                    </li>
                    <li data-role="fieldcontain">
                        <input data-ajax="false" type="submit" value="Salva" />
                    </li>
                </ul>
            }            
            <script type="text/javascript">
                $(function () {
                    //$.validator.unobtrusive.parse("#frmAddRemoveQuantity");
                    
                    setTimeout(function() { $('#txtQuantity').trigger('focus'); }, 500);
                });
            </script>
        </div>
    </div>
</body>
</html>
