﻿<html>
<head></head>
<body>
    <div data-role="dialog">
        <div data-role="header" data-theme="d">
            <h1 style="width: 210px">Elimina componente</h1>
        </div>
        <div data-role="content" data-theme="c">
            @using (Html.BeginForm("Delete", "Components", FormMethod.Post, new { data_ajax="false" }))
            {
                <input type="hidden" name="Id" value="@(ViewBag.Id)"/>                               
                
                <ul data-role="listview" data-inset="true">
                    <li data-role="fieldcontain">
                        <div class="ui-grid-a" style="text-align: center">
                            Conferma l'eliminazione del componente @(ViewBag.ComponentName)
                        </div>
                        <div class="ui-grid-b">
                            <input data-ajax="false" type="submit" value="Si" />                           
                        </div>
                        <div class="ui-grid-c">
                            <a data-role="button" data-rel="back" id="btnAbort" data-ajax="false" href="#">Annulla</a>
                        </div>
                    </li>                    
                </ul>
            }            
        </div>
    </div>
</body>
</html>
