﻿@using DocumentFormat.OpenXml.Wordprocessing
@model LMT.Web.Application.Models.ComponentEditModel

<html>
<head></head>
<body>
    <div data-role="dialog">
        <div data-role="header" data-theme="d">
            <h1 style="width: 210px">Modifica componente</h1>
        </div>
        <div data-role="content" data-theme="c">
            @using (Html.BeginForm("Edit", "Components", FormMethod.Post, new { id = "frmEditComponent", data_ajax = "false" }))
            {
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Deleted)
                
                <ul data-role="listview" data-inset="true">
                    <li data-role="fieldcontain">
                        <div class="ui-grid-a">
                            <div class="ui-block-a" style="text-align: center">
                                @Html.TextBoxFor(m => m.Name, new { autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                            <div class="ui-block-b" style="text-align: center">
                                @Html.TextBoxFor(m => m.Sku, new { autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.Sku)
                            </div>
                        </div>
                    </li>
                    <li data-role="fieldcontain">
                        <div class="ui-grid-a">
                            <div class="ui-block-a" style="text-align: center">
                                <a data-role="button" href="@(Url.Action("DeleteConfirm", "Components", new {id = @Model.Id}))">Elimina</a>
                            </div>
                            <div class="ui-block-b" style="text-align: center">
                                <input data-ajax="false" type="submit" value="Aggiorna" />
                            </div>
                        </div>
                    </li>
                </ul>
            }            
            <script type="text/javascript">
                $(function () {
                    $.validator.unobtrusive.parse("#frmEditComponent");

                    $('#btnDeleteComponent').on('click', function () {

                        $('input[type="hidden"][name="Deleted"]').val("True");

                        $('#frmEditComponent').submit();

                        return false;
                    });
                });
            </script>
        </div>
    </div>
</body>
</html>
