﻿@model LMT.Web.Application.Models.ComponentCreateModel

@{
    ViewBag.Title = "Nuovo componente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
    @Html.ActionLink("Esci", "LogOff", "Account", null, new { data_icon = "delete", @class = "ui-btn-left" })
    @Html.ActionLink("Home", "Index", "Home", null, new { data_icon = "home", @class = "ui-btn-left", style = "width:100px;margin-left:80px" })
    <h1>@ViewBag.Title</h1>
    @Html.ActionLink("Lista componenti", "Index", "Components", new { Area = "" }, new { data_icon = "new", @class = "ui-btn-right" })
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            setTimeout(function () { $('#txtSku').trigger('focus'); }, 500);
        });
    </script>
}
@using (Html.BeginForm("Create", "Components", FormMethod.Post, new { id = "frmCreateComponent" }))
{
    @Html.ValidationSummary(true)

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Nuovo componente</li>
        <li data-role="fieldcontain">
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    @Html.TextBoxFor(model => model.Name, new {placeholder="Nome componente", style = "width: 95%"})
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div class="ui-block-b">
                    @Html.TextBoxFor(model => model.Sku, new {placeholder="Codice componente", style = "width: 95%", id = "txtSku"})                    
                    @Html.ValidationMessageFor(model => model.Sku)
                </div>
            </div>
        </li>
        <li data-role="fieldcontain">
            <input type="submit" value="Salva" />
        </li>
    </ul>
}