﻿@using MvcContrib.Pagination
@using MvcContrib.UI.Grid
@using MvcContrib.UI.Pager
@model LMT.Web.Application.Models.ComponentSearchModel
@{
    ViewBag.Title = "Componenti per assemblaggio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tr.gridrow {
    }

    table.grid {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        width: 100%;
        border-spacing: 0;
    }

    td, th {
        border-top: 1px solid black;
        border-right: 1px solid black;
        padding-left: 10px;
    }

    tr:nth-child(odd) {
        background: #FFF;
    }

    tr:nth-child(even) {
        background: #AAA;
    }

    div.pager {
        text-align: center;
        margin: 5px;
    }
</style>
@section Header
{
    <div data-role="navbar">
        <ul>
            <li>
                <div data-role="navbar">
                    <ul>
                        <li>
                            @Html.ActionLink("Esci", "LogOff", "Account", null, new { data_ajax = "false", data_mini = "true", @class = "ui-btn ui-icon-delete ui-btn-icon-left ui-btn-inline" })
                        </li>
                        <li>
                            @Html.ActionLink("Home", "Index", "Home", null, new { data_ajax = "false", @class = "ui-btn ui-icon-home ui-btn-icon-left ui-btn-inline" })
                        </li>
                        <li>
                            @Html.ActionLink("Componenti", "Index", "Components", null, new { data_theme = "a", data_ajax = "false", @class = "ui-btn ui-icon-grid ui-btn-icon-left ui-btn-inline" })
                        </li>
                        <li>
                            @Html.ActionLink("Assemblati", "Index", "ComponentGroups", null, new { data_theme = "a", data_ajax = "false", @class = "ui-btn ui-icon-grid ui-btn-icon-left ui-btn-inline" })
                        </li>
                    </ul>
                </div>
            </li>
            <li style="text-align: center">
                <h3>Componenti per assemblaggio</h3>
            </li>
            <li>
                @Html.ActionLink("Nuovo componente", "Create", "Components", new { Area = "" }, new { data_theme = "a", @class = "ui-btn ui-btn-right ui-icon-plus ui-btn-icon-left", data_ajax = "false" })
            </li>
        </ul>
    </div>
}
@section scripts
{
    <script type="text/javascript">
        $(document).bind('pagechange', function () {

            $(document).on('click', '#btnExport', function () {
                var exportUrl = '@(Url.Action("Export", "Components", new { Area = "" }))';

                var form = $('#frmSearch');
                form.attr('action', exportUrl);
                form.submit();

                return false;
            });

            $(document).on('click', '#btnSearch', function () {
                var searchUrl = '@(Url.Action("Index", "Components", new { Area = "" }))';

                var form = $('#frmSearch');
                form.attr('action', searchUrl);
                form.submit();

                return false;
            });
        });
    </script>
}
@using (Html.BeginForm("Index", "Components", FormMethod.Get, new { id = "frmSearch", data_ajax = "false" }))
{
    <ul data-role="listview" data-inset="true" data-theme="g">
        <li data-role="list-divider">
            <div>
                <span>Ricerca</span>
            </div>
        </li>
        <li data-role="fieldcontain">
            <div class="ui-block-a" style="width: 50%">
                @Html.TextBoxFor(m => m.Name, new { placeholder = "Nome", style = "width:90%;" })
            </div>
            <div class="ui-block-b" style="width: 50%">
                @Html.TextBoxFor(m => m.Sku, new { placeholder = "Codice", style = "width:90%;" })
            </div>
        </li>
        <li data-role="fieldcontain">
            <input id="btnSearch" type="submit" value="Cerca" data-theme="b" />
        </li>
    </ul>
}
<ul data-role="listview" data-inset="true" data-theme="g">
    <li data-role="list-divider">
        <div>
            <span>Componenti</span>
            <a href="#" style="float: right; width: 150px; color: white"
               id="btnExport">Esporta inventario</a>
        </div>
    </li>
    <li data-role="fieldcontain">
        @Html.Pager((IPagination)Model.SearchResultModels).First("primo").Last("ultimo").Next("avanti").Previous("indietro").Format("Visualizzati da {0} a {1} | Totale: {2} risultati | ").SingleFormat("")
        <div style="height: 10px">
        </div>
        @Html.Grid(Model.SearchResultModels).Columns(column =>
        {
            column.For(p => p.Sku).Named("Codice").Attributes(style => "width:10%");
            column.For(p => p.Name).Named("Nome").Attributes(style => "width:60%");
            column.For(p => p.StockQuantity).Named("Quantita'").Attributes(style => "width:10%;");

            column.Custom(@<a href="@(Url.Action("Edit", "Components", new {componentId = item.Id}))" class="ui-btn ui-mini" data-rel="dialog">Modifica</a>).Attributes(style => "width:15%;text-align:center;padding-left:5px;padding-right:5px");
            column.Custom(@<a href="@(Url.Action("AddRemoveQuantity", "Components", new {componentId = item.Id}))" class="ui-btn ui-mini" data-rel="dialog">Aggiungi/Rimuovi quantita'</a>).Attributes(style => "width:15%;text-align:center;padding-left:5px;padding-right:5px");

        }).Empty("Non sono presenti componenti")
        <div style="height: 10px">
        </div>
        @Html.Pager((IPagination)Model.SearchResultModels).First("primo").Last("ultimo").Next("avanti").Previous("indietro").Format("Pagina {0} di {1} | Totale: {2} risultati | ").SingleFormat("")
    </li>
</ul>
