﻿@model LMT.Web.Application.Models.LoginModel

@{
    ViewBag.Title = "Entra";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary()

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Dettagli</li>

        <li data-role="fieldcontain">
            @Html.TextBoxFor(m => m.UserName, new { placeholder = "Nome Utente", style = "width:99%;" })
        </li>

        <li data-role="fieldcontain">
            @Html.PasswordFor(m => m.Password, new { placeholder = "Password", style = "width:99%;" })            
        </li>        

        <li data-role="fieldcontain">
            <input type="submit" value="Entra" />
        </li>
    </ul>
}